.hero-container__title {
	font-size: 2.83rem;
}

.hero-container__text {
	color: #54555f;
}

.hero-container__image {
	background-image: url('[resources:bg_hero.svg]');
	background-repeat: no-repeat;
	background-size: 100% 95%;
	border-radius: 0.75rem;
}

.hero-container__image-hero {
	margin: 0px auto;
	margin-top: 6rem;
	width: 80%;
}

picture {
	display: flex;
	justify-content: center;
}
